.jumbotron {
  background-image: linear-gradient(to right, #e9304c, #039dfd);
  color: white;
  margin-top: 10px;
}

.title {
  padding-top: 13px;
}

footer {
  display: block;
  background-color: lavender;
  padding: 25px;
  margin-top: -10px;
  margin-bottom: 10px;
  border-radius: 0.3em;
}

.table {
  margin: auto !important;
  width: 50%;
}

#card2 {
  text-align: center;
  width: 100%;
}

#policy {
  margin-top: 4px;
}
